<div class="footer-pic">
    <div class="container" style="padding: 2rem 0;">
        <div class="row">
            <div class="col">
                <h5>OUR VISION</h5>
                <p class="vision">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore, modi facere! Optio odit voluptatibus in dolorum consequuntur illo hic autem adipisci, quis tempora amet quibusdam, aspernatur sunt magnam, eligendi assumenda.</p>
                <p class="vision">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore, modi facere! Optio odit voluptatibus in dolorum consequuntur illo hic autem adipisci, quis tempora amet quibusdam, aspernatur sunt magnam, eligendi assumenda.</p>
            </div>
            <div class="col">
                <h5>SERVICES</h5>
                <ul class="service">
                    <li>Family Travel Packages</li>
                    <li>Tour Packages</li>
                    <li>Wedding Packages</li>
                    <li>Corporate Events</li>
                </ul>
            </div>
            <div class="col">
                <h5>CONTACT</h5>
                <ul class="social-icons">
                    <li><i class="fab fa-facebook-square"></i> <span class="social-name"><a href="https://www.facebook.com/racyriaz">racyriaz</a></span></li>
                    <li><i class="fab fa-instagram"></i> <span class="social-name"><a href="https://www.instagram.com/racy_riaz/">@racy_riaz</a></span></li>
                    <li><i class="fab fa-linkedin"></i> <span class="social-name"><a href="https://www.linkedin.com/in/mohamed-riaz/">Mohamed Riaz</a></span></li>
                    <li><i class="fab fa-twitter"></i> <span class="social-name"><a href="https://twitter.com/racyriaz">@racyriaz</a></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>