<div class="container">
    <div class="d-flex bd-highlight d-flex flex-row align-items-center">
        <div class="flex-grow-1 bd-highlight d-flex align-items-center"><object class="logo" data="../../assets/svg/logo.svg" type="image/svg+xml"></object></div>
        <div class="bd-highlight">
            <div class="d-flex flex-row align-items-center">
                <i class="ft-search search-icon white"></i>
                <div class="input-group">
                    <input type="text" class="form-control rounded-pill nav-font nav-font-sm" placeholder="Search anything ..." aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="bd-highlight nav-font">Bookings</div>
        <div class="bd-highlight nav-font">About Us</div>
    </div>
</div>