<div class="container padding-reset">
    <div class="d-flex bd-highlight d-flex flex-row align-items-center">
        <div class="flex-grow-1 bd-highlight d-flex align-items-center">
            <a (click)="scrollTo('home')" class="logo navbar-brand">
                <img src="../../assets/svg/logo.svg" alt="Go to Home page">
            </a>
        </div>
        <div class="bd-highlight">
            <div class="d-flex flex-row align-items-center">
                <i class="ft-search search-icon white"></i>
                <div class="input-group">
                    <input type="text" class="form-control rounded-pill nav-font nav-font-sm" placeholder="Search anything ..." aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="bd-highlight nav-font">
            <a (click)="scrollTo('bookings')" class="nav-link">Bookings</a>
        </div>
        <div class="bd-highlight nav-font">
            <a (click)="scrollTo('connect')" class="nav-link">Connect</a>
        </div>
    </div>
</div>