<div id="connect" class="connect-container">
    <div class="container  py-4">
        <form class="row g-3" [formGroup]="FormG">
            <div class="col-md-6">
                <label for="Fname" class="form-label">First Name</label>
                <input type="text" formControlName="Fname" class="form-control" id="Fname" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-6">
                <label for="Lname" class="form-label">Last Name</label>
                <input type="text" formControlName="Lname" class="form-control" id="Lname" required>
            </div>
            <div class="col-12">
                <label for="mailId" class="form-label">Mail Id</label>
                <input type="email" formControlName="email" class="form-control" id="mailId" placeholder="hello@gmail.com">
            </div>
            <div class="col-12">
                <label for="inputAddress1" class="form-label">Address</label>
                <input type="text" formControlName="address" class="form-control" id="inputAddress1" placeholder="Apartment or Floor , Street Name">
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">City</label>
                <input type="text" formControlName="city" class="form-control" id="inputCity">
            </div>
            <div class="col-md-4">
                <label for="inputState" class="form-label">State</label>
                <select id="inputState" formControlName="state" class="form-select">
                <option selected>Choose...</option>
                <option value="new york">New York</option>
                <option value="texas">Texas</option>
                <option value="dallas">Dallas</option>
              </select>
            </div>
            <div class="col-md-2">
                <label for="inputZip" class="form-label">Zip</label>
                <input type="text" formControlName="zip" class="form-control" id="inputZip">
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" formControlName="checkbox" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                  Check me out for updates
                </label>
                </div>
            </div>
            <div class="col-12 mb-1">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </form>
    </div>
</div>