<app-navbar class="nav--bar"></app-navbar>
<app-home></app-home>
<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aliquam iure eum repellendus, excepturi dolor unde deserunt esse explicabo culpa voluptate possimus sunt. Quidem maiores magni harum! Itaque, ab delectus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aliquam iure eum repellendus, excepturi dolor unde deserunt esse explicabo culpa voluptate possimus sunt. Quidem maiores magni harum! Itaque, ab delectus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aliquam iure eum repellendus, excepturi dolor unde deserunt esse explicabo culpa voluptate possimus sunt. Quidem maiores magni harum! Itaque, ab delectus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aliquam iure eum repellendus, excepturi dolor unde deserunt esse explicabo culpa voluptate possimus sunt. Quidem maiores magni harum! Itaque, ab delectus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aliquam iure eum repellendus, excepturi dolor unde deserunt esse explicabo culpa voluptate possimus sunt. Quidem maiores magni harum! Itaque, ab delectus.</p>
</div>